body {
    background-color: blanchedalmond;
}

h1 {

font-family: "Exo", serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: normal;
text-align: justify;
}

p {
    text-align: center;

}

h2 {
    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.planete1{
    width: 500px;
    height: 400px;
}

.planete2{
    width: 500px;
    height: 400px;
}